# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- C++
- Java
- Python

Some of the popular languages that Data Scientists use are:
1. C++
2. Java
3. Python
4. R
5. Matlab
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minute = 200
hour = minute/60
hour

3.3333333333333335

## Author
Octavian Sugeng